<style>
  body {
    margin:  0 20px;
    padding:  0 20px;
    font-family: "楷体", KaiTi, serif;
    background-color: #f6f6f2;
  }  
  h2 {
    text-align: center;
  }
  p {
    text-align: justify;
    padding:  0 20px;
  }
</style>