<html>
  <head>
    <style>
    	body {
        margin:  0 60px;
        padding:  0 60px;
        font-family: "楷体", KaiTi, serif;
        background-color: #f6f6f2;
		  }  
      h2 {
        text-align: center;
      }
      p {
        text-align: justify;
        padding:  0 60px;
      }
    </style>
  </head>
</html>